<h1>Show <%= @flat.name %></h1>
<h2><%= @flat.address %></h2>
<h3><%= @flat.description %></h3>
<p> <%= @flat.price_per_night %><i class="fa-solid fa-euro-sign"></i> <%= @flat.number_of_guests %><i class="fa-solid fa-people-line"></i></p>
